@model ProjIntegrador.Models.Cliente

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        Clientes
                        <div class="page-title-subheading">
                            This is an example dashboard created using build-in elements and components.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Voltar", "Index", "Clientes", null, new { @class = "btn-wide btn btn-success mb-3" })
            </div>
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Detalhes do Cliente
                    </div>

                    <div style="padding: 0 25px; margin: 10px 0;">
                        <div class="col-md-3">
                            <dt>
                                Nome
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nome)
                            </dd>
                        </div>

                        <div class="col-md-3">
                            <dt>
                                CPF
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CPF)
                            </dd>
                        </div>

                        <div class="col-md-3">
                            <dt>
                                Telefone
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Telefone)
                            </dd>
                        </div>

                        <div class="col-md-3">
                            <dt>
                                Email
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </div>

                        <div class="col-md-3">
                            <dt>
                                Endereço
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Endereco.Descricao)
                            </dd>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
