@model ProjIntegrador.Models.Venda

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        Vendas
                        <div class="page-title-subheading">
                            This is an example dashboard created using build-in elements and components.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Voltar", "Index", "Venda", null, new { @class = "btn-wide btn btn-success mb-3" })
            </div>
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Detalhes da Venda
                    </div>

                    <div style="padding: 0 25px; margin: 10px 0;">
                        <div class="dl-horizontal">
                            <div class="col-md-3">
                                <dt>
                                    ID do Cliente
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ClienteId)
                                </dd>
                            </div>

                            <div class="col-md-3">
                                <dt>
                                    ID do Vendedor
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VendedorId)
                                </dd>
                            </div>

                            <div class="col-md-3">
                                <dt>
                                    Valor Total da Venda
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TotalVenda)
                                </dd>
                            </div>

                            <div class="col-md-3">
                                <dt>
                                    Forma de Pagamento
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.FormaPagamento)
                                </dd>
                            </div>

                            <div class="col-md-3">
                                <dt>
                                    Valor de desconto
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ValorDesconto)
                                </dd>
                            </div>

                            <div class="col-md-3">
                                <dt>
                                    Data da Venda
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DataVenda)
                                </dd>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
