@model ProjIntegrador.Models.Venda

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        Vendas
                        <div class="page-title-subheading">
                            This is an example dashboard created using build-in elements and components.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Voltar", "Index", "Venda", null, new { @class = "btn-wide btn btn-success mb-3" })
            </div>
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Editar Venda
                    </div>
                    <br /><br />


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.VendaId)
                    <div class="form-group">
                        <div class="control-label col-md-2"> Valor Total</div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.TotalVenda, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TotalVenda, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"> Forma de Pagamento</div>
                        <div class="col-md-12">
                            @Html.EnumDropDownListFor(model => model.FormaPagamento, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FormaPagamento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"> Valor de Desconto</div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ValorDesconto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ValorDesconto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"> Data da Venda</div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.DataVenda, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DataVenda, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2">ID do Cliente</div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ClienteId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-2"> ID do Vendedor</div>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.VendedorId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.VendedorId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="Editar Venda" class="btn-wide btn btn-success mb-3    " />
                        </div>
                    </div>
                </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
